.nav-list>li>.submenu:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 18px;
    top: 0;
    bottom: 0;
    border: 0px;
    border-width: 0 0 0 1px;
}
.nav-list>li>.submenu>li:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 7px;
    left: 20px;
    top: 17px;
    border-top: 0px;
}
.DataImport_manage .data_import .left .content .tab_title {
    height: 40px;
    line-height: 40px;
    padding: 0 40px 0 5px;
    font-size: 14px;
    color: #525252;
    border-bottom: 1px solid #DEDEDE;
    padding-left: 0px;
}
.DataImport_manage .data_import .left .content .tab_li {
    height: 40px;
    line-height: 40px;
    padding: 0 40px;
    font-size: 13px;
    color: #525252;
    background-color: rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid #DEDEDE;
    padding-left: 15px;
}
.DataImport_manage .data_import .left .content .tab_li.level2 {
    padding-left: 15px;
}
.DataImport_manage .data_import .left .content .tab_li.level3 {
    padding-left: 30px;
}
.DataImport_manage .data_import .left .content .tab_li.level4 {
    padding-left: 45px;
}
.DataImport_manage .data_import .left .content .tab_li.level5 {
    padding-left: 60px;
}
.DataImport_manage .data_import .left .content {
     height: 0px; 
     border: 0px; 
}
.DataImport_manage .data_import .left {
    float: left;
    width: 189px; 
    background-color: #F3F3F3;
    margin-left: 0px;
}
.left-li-list a:link {
	text-decoration: none;
	text-decoration: underline;
}
.left-li-list a:visited {
	text-decoration: none;
	text-decoration: underline;
}
.left-li-list a:hover {
	text-decoration: none;
	text-decoration: underline;
}
.left-li-list a:active {
	text-decoration: none;
	text-decoration: underline;
}
.left-li-list a {
    color: White;
    text-decoration: underline;
}