*{
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei",Arial;
	font-size: 16px;
}
html{
	width: 100%;
	height: 100%;
}
.bg{
	margin:0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	top: 0;
}
body .title{
	width: 440px;
	height: 44px;
	line-height: 42px;
	font-size: 34px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	margin: 170px auto 30px auto;
}
body .login{
	width: 380px;
	height: 200px;
	background-color: rgba(255, 255, 255, 0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff,endColorstr=#7fffffff); 
	border-radius: 5px;
	margin: 0 auto;
	padding: 40px 35px
}
body .login .input{
	background-color: white;
	height: 40px;
	line-height: 40px;
	position: relative;
	margin-bottom: 15px;
}
body .login .input img{
	margin:10px;
	height: 20px;
	float: left;
}
body .login .input .placeholder{
	color: #6b6b6b;
}
body .login .input input{
	width: 266px;
    height: 38px;
    position: absolute;
    left: 40px;
    top: 0;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
body .login .input input:focus{
	opacity: 1;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	border: 0;
	outline:none;
	line-height: 40px;
}
body .login .select{
	margin-top: 10px;
}
body .login .select .next{
	color: #585858
}
body .login .select .forget{
	float: right;
	color: #02a2e9;
	cursor: pointer;
}
.loginButton{
	margin-top: 20px;
	width: 100%;
	height: 40px;
	background-color: #02a2e9;
	border: 0;
	cursor: pointer;
	color: white;
	font-size: 18px;
}